body {
    background-image: url("../images/imagen8.jpg");
}

#textlogo {
    color: rgba(57, 44, 202, 0.966);
}

header {
    background-color: rgba(89, 14, 238, 0.082);
    height: 100px;
    margin: 0.25;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu {
    float: right;
    background-color: rgba(222, 184, 135, 0);
    margin-top: 0.60;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li a {
    border-color: rgb(145, 17, 13);
    border-width: 1cm;
    border: 0.50cm;
    margin-right: 0.50cm;
    padding: 0.50cm;
    text-decoration: none;
}

li a.active {
    background-color: rgba(11, 7, 73, 0.185);
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(16, 38, 100, 0.288);
    color: white;
}

.container1 {
    background-color: rgb(22, 205, 211);
    align-items: center;
    background-image: url("../images/imagen7.jpg");
    height: 500px;
    text-align: center;
    padding-top: 3cm;
    padding-left: 2cm;
    padding-right: 2cm;
    font-size: 20px;
    margin: 2cm;
    -webkit-box-shadow: 2px 4px 115px 28px rgba(100, 103, 158, 1);
    -moz-box-shadow: 2px 4px 115px 28px rgba(100, 103, 158, 1);
    box-shadow: 2px 4px 115px 28px rgba(100, 103, 158, 1);
    border-radius: 59px 59px 59px 59px;
    -moz-border-radius: 59px 59px 59px 59px;
    -webkit-border-radius: 59px 59px 59px 59px;
    border: 6px solid #ccccdb;
}

p {
    color: rgb(255, 255, 255);
    margin: 4cm;
    padding-top: 0.50;
}

#vermas {
    width: 100px;
    margin: 0cm;
    position: absolutes;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: rgba(169, 169, 169, 0);
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}